practicaSintesis/sintesis.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="equipos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="equipo">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="nombre"/>
              <xs:element type="xs:string" name="tipo"/>
              <xs:element name="historial">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ano" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="exitos">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="exito" maxOccurs="unbounded" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="fracasos">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="fracaso" maxOccurs="unbounded" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:integer" name="n" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="integrantes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="integrante" minOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="nombre">
                              <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="3"/>
                                    <xs:maxLength value="20"/>
                                </xs:restriction>
                              </xs:simpleType>
                          </xs:element>
                          <xs:element type="xs:string" name="apellido">
                              <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="3"/>
                                    <xs:maxLength value="20"/>
                                </xs:restriction>
                              </xs:simpleType>
                          </xs:element>
                          <xs:element type="xs:string" name="cargo">
                              <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="3"/>
                                    <xs:maxLength value="20"/>
                                </xs:restriction>
                              </xs:simpleType>
                          </xs:element>
                          <xs:element name="fechanac">
                            <xs:simpleType>
                                <xs:restriction base="xs:date">
                                    <xs:maxInclusive value="2000-01-01"/>
                                </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="rutaimg">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:anyURI">
                                  <xs:attribute type="xs:string" name="tipo"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:time" name="ultimaparticipacion"/>
                          <xs:element type="xs:date" name="ultimafecha"/>
                          <xs:element name="estadisticas">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="torneos">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:integer" name="primero"/>
                                      <xs:element type="xs:integer" name="segundo"/>
                                      <xs:element type="xs:integer" name="tercero"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:byte" name="mandosrotos"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>